body {
    font-size: 18px;
}

main {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #0a3b59;
}
.bar {
    padding:2em;
    padding-top: 0;
    
    z-index: 1;
}

.navbar-brand {
    color: #0a3b59 !important;
    text-decoration-color:  #4B7BC3;

}

.navbar-brand:hover {
    text-decoration: underline;
    
}
hr {
    border: 1px solid #4B7BC3;
}

.topstuff{
    padding-left: 2em;
    padding-right:3em;
    margin-top:0;
    padding:1em;
}
.topstuff h3 {
    font-family: 'Libre Baskerville', serif; 
    color: #4B7BC3;
    margin-bottom:.3em;
}
.topstuff p {
    font-family: 'Lato', sans-serif;
    font-size: 1.35em;
    color: #0a3b59;
}
.media-body{
    text-align: center;
}

.link{
    color:#0a3b59;
    
    text-decoration-line: underline;
}
.link :hover{
    color:black;
    font-size: 1.4em;
}
.reviews_container {
    
    color: #4B7BC3;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-right: 2em;
    width: 100vw;
    height: 100%;
    align-content: center;
    justify-content: center;
}

.reviews {
    display: inline;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    margin-top: .2em;
    color: white;
    margin-bottom: .3em;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    margin-top: 0.2em;
    color: white
}
h3{
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    margin-top: 0.2em;
    color: #4B7BC3;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    display: inline;
    color: white;
    line-height: 30px;
}
.reviewcard{
    margin:1em;
    background-color: #4B7BC3;
    width: 70%;
    margin-left:15%;
}
.toplink{
    margin-top: 1em;
    font-family: 'Lato', sans-serif;
    font-size: 1.35em;
    color: #0a3b59;
}
.backtotop{
    text-align: center;
}





