
body {
    font-size: 20px;
    background-image: url(/Images/Home_Graphic.png);
    width: 100%;
    height: 100vh;
}

    
main {
    color: white;
    overflow: hidden;
    background-image: url(/Images/Home_Graphic.png);
    width: 100vw;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
    
.bar {
    padding: 2em;
    padding-bottom:0;
    padding-top:0;
    z-index:1;
    color: white;
}

hr {
    border: 1px solid white;

}
.navbar-brand{
    text-decoration-color:  #4B7BC3;
    color:  #4B7BC3;
}

.navbar {
    padding:0;

}

.navbar-brand:hover {
    text-decoration: underline;
}

h4{
    font-size: 2em;
    width: 100%;
    margin-right: 2em;
    font-family: 'Libre Baskerville', serif;
    text-shadow: 1px 1px 2px #4B7BC3;
    
}
.row{
    margin-bottom: .8em;
    text-align: center;
    
}

input{
    opacity: .85;
}
textarea{
    opacity:.85;
}
.card{
    opacity: 0;
}
.starcard{
    margin-top: 1em;

}

.star-rating {
    line-height:32px;
    font-size:1.25em;
}
  
/* .fa-star{
    text-shadow: 0px 0px 1px #000; 
    color:yellow
} */
a:not([href]):not([tabindex]) {
    color: yellow;
    text-decoration: none;
}
a:not([href]):not([tabindex]):hover {
    color: yellow;
    text-decoration: none;
}

.star{
    color:yellow;
    text-decoration: none;
    background-color:transparent;
    border:none;
    padding: .1em;
    font-size: 1.4em;
    text-shadow: 0px 0px 1px black;
}


.star:hover{
    font-size:1.5em;
    color:yellow;
    text-decoration: none;
}


/* .fa-star:visited{
    color:white;
    font-size: 3em;
    text-shadow: 0 0 1px #000; 
} */


/* 4 changes 5 */
.star4:hover + .star5{
    color:white;
}


/* 3 changes 4 and 5 */
.star3:hover + .star4{
    color:white;
}
.star3:hover ~ .star5{
    color:white;
}

/* 2 changes 3,4,5 */
.star2:hover + .star3{
    color:white;
}
.star2:hover ~ .star4{
    color:white;
}
.star2:hover ~ .star5{
    color:white;
}

/* 1 changes 2,3,4,5 */
.star1:hover + .star2{
    color:white;
}
.star1:hover ~ .star3{
    color:white;
}
.star1:hover ~ .star4{
    color:white;
}
.star1:hover ~ .star5{
    color:white;
}



.stars{
    height: 30px;
    border-radius: 2px;
}
div p {
    color:black;
}
.submitbutton{
    background:white;
    color: #4F7FC1;
    font-family: 'Lato', sans-serif;
    font-size: .9em;
    border-radius: 2em;
    width: 5.6em;
    height: 2.5em;
    cursor: pointer;
    margin-top: 0em;
    text-align:center;
        
  
}
.form{
    width:80%;
}

.submitbutton:hover {
    background-color: #4F7FC1;
    color: white;
}

@media (max-width: 600px) {
    .heading {
        padding-left: 3em;
    }

    .form {
        width: 100%;
    }
}